/* Add padding to containers */
body, html{
    width: 100%;
    height: 100%;
    background-color: var(--fundo-body);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: var(--letra-color);
    
}
:root{
    --fundo-body: #49788c;
    --fundo-body-header:rgb(117, 183, 177);
    --fundo-conteiner: rgb(125, 193, 187);
    --fundo-conteiner-bloco: rgb(111, 172, 167);
    --border: 3px rgb(99, 154, 149) solid;
    --letra-color: rgb(40, 73, 74);
}
body>div{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--fundo-body-header);
    border: var(--border);
    border-width: 1.5px;
    padding: 2px 20vw;
    width: 100vw;
}
body>div>nav{
    float: left;
    margin: 1px 0.5rem;
    border: var(--border);
    border-width: 2px;
    font-weight: bold;
    border-radius: 15px;
}
body>div>nav:hover{
    background-color: var(--fundo-body-header);

}

body>div>nav>a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color:var(--letra-color);
}
.conteiner{
    background-color: var(--fundo-conteiner);
    margin: 0 20vw;
    border-radius: 7px;
    padding: 2vw;
}
header.conteiner{
    margin-top: 7%;
    margin-bottom: 1%;
    
}

header > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#logo{
    width: 100px;
    border-radius: 100%;
    align-items: center;
}

main.container > section{
    display: flex;
    flex-direction: row;
}
main > section > section{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    background-color: var(--fundo-conteiner-bloco);
    border-radius: 25px;
    padding: 1vw;
    min-width: 75px;
    max-width: 1000px;
    min-height: 100px;
    margin: 10px;
    max-height: 12rem;
    

}

#inputs>div{
    display:flex;
    justify-content: space-between;
    margin: 10px;
}
#inputs>div:last-of-type{
    justify-content:center;
    margin: 25px 10px 10px 10px;
    height: 25px;

}
#inputs>div>label{
    margin: 3px;
    font-weight: bold;
}
.input{
    border: none;
    border-radius: 6px;
    min-width: 50px;

    width: 150px;
}

#output{
    display: table;
    align-self: center;
    border: var(--border);
}
#output>span{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 19px;
    letter-spacing: 0.05rem;
}

#mapa {
    border: 3px rgb(111, 172, 167) solid;
    border-radius: 40px;
    min-height:200px;
    min-width:200px;
    height:400px;
    width:800px;
  }

